DEBUG=False
SECRET_KEY="d0m!xv8#r@5kq1+zn7^w_l2g$f9p&6y*hc3=ub%e4!sxa7nqjv"
DJANGO_ALLOWED_HOSTS="localhost 0.0.0.0 127.0.0.1"
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD="super secure p4ssw0rd"
SQL_HOST=db
SQL_PORT=5432
